/* ----------------- ส่วนหน้าอัปโหลดไฟล์--------------- */
/* Header styling */
.header-1 h2 {
    font-size: 35px;
    color: #f8f5f5;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Container layout */
  .container {
    max-width: 800px;
    max-height: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffae00;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: #000000 1px solid;
  }
  
  /* Header styling */
  .header h2 {
    font-size: 1.75rem;
    color: #2c2e31;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Form container styling */
  .form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form-container .form-group {
    margin-bottom: 16px;
  }
  
  .form-container .form-label {
    font-weight: bold;
    color: #495057;
  }
  
  .form-container .form-control,
  .form-container .form-select {
    border-radius: 6px;
    padding: 8px;
  }
  
  /* Search button styling */
  .search-button {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    font-weight: bold;
    color: #000000;
    background-color: #b8b8b8;
    border: none;
    border-radius: 6px;
    transition: background-color 0.2s;
  }
  
  /* Result container styling */
  .result-container-1 {
    margin-top: 30px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    text-align: center;
  }
  
  .result-container-1 h2 {
    font-size: 30px;
    color: #000000;
    margin-bottom: 20px;
  }
  
  /* File upload container styling */
  .file-upload-container {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .file-info {
    margin-top: 10px;
    font-size: 0.875rem;
    color: #495057;
  }
  
  .upload-button {
    display: inline-flex;
    align-items: center;
    padding: 10px 15px;
    background-color: #28a745;
    color: #464646;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .upload-button:hover {
    background-color: #218838;
  }
  
  .upload-button svg {
    margin-right: 5px;
  }
  
  /* Cancel and Confirm buttons */
  .button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
  }
  
  .button-container .btn-outline-dark {
    padding: 8px 20px;
    font-weight: bold;
    border-radius: 6px;
  }
  /* ----------------- ส่วนหน้าอัปโหลดไฟล์ จบ --------------- */